
<div class=" col-sm-6 col-sm-push-3 monBlock">
<hgroup class="col-sm-12 projects-title">
<h1>More information</h1>

</hgroup>
<div class="col-sm-12 blog-item">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" style="color:#8a6d3b" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          How to be a Farmer
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <p>
     
     As a farmer, you will  receive visitors from your own country who want to connect with the land and experience agricultural work.
     <br>
     	
So if you have a farm and you like to share your knowledge with others, you might consider opening your home to FarmTeerers.
Our volunteers can provide an extra pair of hands to help with various tasks you are busy with. 
     </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="color:#8a6d3b" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How to be a Volunteer
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      <p>
      As a volunteer, you will help your host with farming and agricultural tasks and experience life as a farmer.
      <br>You may be asked to help with a variety of tasks like gardening, planting, cutting wood, weeding, packing, milking, feeding, making mud-bricks, wine making, cheese making and harvesting.
      <br>The first step of your FarmTeering experience is to choose your host and register. As a member you will be able to access a database of farms and works linked to each farm in your country and start making plans.

      </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" style="color:#8a6d3b" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          FAQ
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
    
      
      <p>Why FarmTeering?</p>
      <p>How do I start FarmTeering?</p>
      <p>Which country can I choose?</p>
      <p>How do I become a volunteer?</p>
      <p>How do I register as a farmer?</p>
      <p>How much will it cost to be a FarmTeerer?</p>
  
    
      </div>
    </div>
  </div>
  <div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" style="color:#8a6d3b" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Contact
      </button>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body">
      <p>If you have any question, you can send a mail to this address:
      <br>
      contact@farmTeering.com </p>
    </div>
  </div>
</div>
</div>
</div>
</div>