<h1>Work List</h1>

<ul>
  <% works.forEach((work) => { %>
    <li>
    <%= work.name %> 
    <a href="/farms/<%=farmId %>/works/<%=work._id%> ">View details</a>
    </li>
  <% }) %>
</ul>


<% if (user._id.equals(farm._owner)){%>
<a href="/farms/<%=farmId %>/works/new">Add Work</a>
<%}%>
