<h1>Create a farm</h1>

<% if (typeof(errors) !== "undefined"){ %>
  <ul>
    <% for (let error in errors){ %>
      <li><%= errors[error].message %></li>
    <% } %>
  </ul>
<% } %>

<form action="/farms" method="POST">
<label>
Name
<input type="text" name="name" value="<%= farm.name %>">
</label>
<br/>

<label>
Address
<input type="text" name="address" value="<%= farm.address %>">
</label>
<br/>

<label>
Description
<textarea type="text" name="description"><%= farm.description %></textarea>
</label>
<br/>

  <button type="submit">Create Farm</button>
</form>

